{
    "device":"Android://127.0.0.1:5037/emulator-5554",
    "cycle_times":1,
    "plan":[
        {
            "enable":false,
            "script":"sample1",
            "times":100,
            "interval":180
        },
        {
            "enable":false,
            "script":"remilia_L234",
            "times":10,
            "interval":-1
        },
        {
            "enable":false,
            "script":"ran_L236",
            "times":10,
            "interval":-1
        },{
            "enable":true,
            "script":"event_remu",
            "times":2,
            "interval":-1
        }
    ]
}